$ani-delay: 1.5s;

#logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    &.paused {
        #logo-wrapper, 
        #logo h1,
        #logo,
        #loading-count {
        animation-play-state: paused; // Initially paused
        }
        
    }

    &.start-animation {
        #logo-wrapper, 
        #logo h1,
        #logo,
        #logo-wrapper::after, 
        #logo-wrapper::before, 
        #loading-count {
        animation-play-state: running; // Initially paused
        }
    }
}

#logo-wrapper {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeOut-bg 0.7s ease-in-out $ani-delay 1 normal both paused; // Start paused

    &::after,
    &::before {
        content: "";
        position: absolute;
        padding: 4px;
        border-radius: 50%;
        z-index: -1;
        height: 100%;
        width: 100%;
        background-image: conic-gradient(from 180deg, transparent 75%, rgb(218, 137, 137));
        animation: spin 2.5s linear forwards infinite,
                    spinFadeOut 1s linear forwards 0.5s paused;
    }

    &::before {
        filter: blur(2rem);
        opacity: 0.75;
    }
}

#logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        margin-top: 6rem;
        text-align: center;
        font-size: 9.5rem;
        color: rgb(215, 61, 61);
        filter: drop-shadow(0 0 6px rgb(215, 61, 61, 0.7));
        animation: ShrinkIn 1s ease-in-out $ani-delay 1 forwards paused; // Start paused

        &.stopped {
            color: green;
            filter: drop-shadow(0 0 5px rgba(81, 235, 94, 0.6));
        }
    }
}


@keyframes ShrinkIn {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

#loading-count {
    position:fixed;
    top: 16rem;
    font-size: 2rem;
    color: rgb(180, 171, 171);
    text-align: center;
    filter: drop-shadow(0 0 4px rgba(232, 222, 222, 0.5));
    z-index: 1;
    animation: fadeOut 0.8s ease-in-out $ani-delay 1 normal both paused;
    &.access-granted {
        color: green;
        filter: drop-shadow(0 0 5px rgba(81, 235, 94, 0.6));
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut-bg {
    0% {
        background-color: rgba(0, 0, 0, 1);
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}