$ani-delay: 5s;

#logo-container{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}
#logo-wrapper {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeOut-bg 0.7s ease-in-out $ani-delay 1 normal both;

    &::after,
    &::before {
        content: "";
        position: absolute;
        padding: 4px;
        border-radius: 50%;
        z-index: -1;
        height: 100%;
        width: 100%;
        background-image: conic-gradient(from 180deg, transparent 75%, rgb(218, 137, 137));
        animation: 4.5s spin linear forwards;
    }

    &::before {
        filter: blur(2rem);
        opacity: 0.75;
    }
}

#logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: glitch-it 0.3s cubic-bezier(.59, .24, .42, 1.08) both infinite;
    --shake-intensity: 2px;

    h1 {
        margin-top: 15rem;
        text-align: center;
        font-size: 9.5rem;
        color: rgb(215, 61, 61);
        filter: drop-shadow(0 0 6px rgb(215, 61, 61, 0.7));
        animation: popOut 0.7s cubic-bezier(.8,.02,.15,1.4) 0s 1 forwards, 
        ShrinkIn 1s ease-in-out $ani-delay 1 forwards;

        &.stopped {
            color: green; /* Turn green when stopped */
            filter: drop-shadow(0 0 5px rgba(81, 235, 94, 0.6));
        }
    }
}


@keyframes glitch-it {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(calc(var(--shake-intensity) * -1), var(--shake-intensity));
    }
    40% {
        transform: translate(calc(var(--shake-intensity) * -1), calc(var(--shake-intensity) * -1));
    }
    60% {
        transform: translate(var(--shake-intensity), var(--shake-intensity));
    }
    80% {
        transform: translate(var(--shake-intensity), calc(var(--shake-intensity) * -1));
    }
    100% {
        transform: translate(0);
    }
}


#loading-count {
    margin-top: 5rem;
    font-size: 2rem;
    color: rgb(180, 171, 171);
    filter: drop-shadow(0 0 4px rgba(232, 222, 222, 0.5));
    z-index: 1;
    animation: fadeOut 0.8s ease-in-out 0s 1 normal both;
    animation-delay: $ani-delay;
}

@keyframes ShrinkIn {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes fadeOut-bg {
    0%{
        background-color: rgba(0, 0, 0, 1);
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes popOut {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes spin {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(360deg);
    }
}
